body {
    background-image: url("../Documents/Imagenes/FondoMenu.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    font-family:Georgia, 'Times New Roman', Times, serif;
       }
       
       ol, ul {
        list-style: none;
    }
    
    header {
        background-color: rgba(32, 1, 1, 0.952);
        height: 130px;
        width: 100%;
        float: left;
        overflow: hidden;
        padding-top: 0%;
        margin: 0 auto;
        
    }
    
    header img{
        float: right;
        height: 110px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius:50%;
    
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 8px 8px #ec731e;
        -webkit-box-shadow: 0px 0px 8px 8px #ec731e;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    
    .nav-main{
        font-size: 30px;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 90px;
        padding: 20px 0;
    }
    
    .nav-main ul {
        display: flex;
    }
    
    .nav-main ul li{
        padding:50px;
    }
 
div#menu {width:550px;margin: 0 auto;
font: 90% "Trebuchet MS",Arial,sans-serif;text-align:left}
h2 {margin: 1em auto 0.3em;color: #0c0a0a;
    
font-size: 250%;text-align:center}
 
dl {width: 100%;overflow: auto;margin: 0 0 1em;
background: url(dot.gif) repeat-x 0 1.2em}
dt,dd.price {font-size: 150%;font-weight: bold}
dt {float: left;padding-right: 3px;color: rgba(32, 1, 1, 0.952);}
dd {margin:0}
dd.price {float: right; padding-left: 3px; color:rgba(32, 1, 1, 0.952);}
dd.ingredients {float: left; width: 100%;padding: 3px 0;
font: italic 100% Georgia,Times,sans-serif;color: rgb(10, 3, 3)}
section{
    width: 62%;
    float:center;
    background-color:#865124;
    overflow:hidden;
    padding:6%;
        border: 9px double rgba(32, 1, 1, 0.952);
     
   }
  
   
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
}

